---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Cristian Ortiz Portfolio">
	<main>
		<section class="mx-auto py-28 w-[970px] flex items-center">
			<img class="absolute" src="../../public/cris-image.png" alt="">
			<img src="../../public/banner-background.webp" alt="">
			<div class="pt-16 -ml-32">
				<span class="mb-8">
					<h2 class="text-white text-3xl">Hi there</h2>
					<h2 class="text-white text-3xl">I am</h2>
				</span>

				<h1 class="text-white text-9xl font-extrabold">Cristian</h1>
				<span class="-ml-28 flex items-baseline gap-14">
					<h1 class="text-9xl font-extrabold">Ortiz</h1>
					<img class="h-16" src="../../public/banner-icon.png" alt="">
				</span>
				<span>
					<p class="text-[#FD621F] text-lg">Frontend Developer</p>
					<p class="text-[#FD621F] text-lg">UI Designer</p>
				</span>

			</div>
		</section>

		<section>
			
		</section>
	</main>
</Layout>
