<section class="flex items-center px-32 justify-between">
    <header class="gap-3 flex flex-col">
        <figure class="w-28 py-4"><img src="/cris-logo.webp" alt=""></figure>
        <h2 class="text-white text-7xl font-extrabold">Cristian<br>Ortiz</h2>
        <p class="text-[#FD621F]">Frontend Developer<br>UI Designer</p>
    </header>

    <p class="w-[520px]">I am a professional passionate about creating innovative 
        and engaging digital solutions. I have extensive experience 
        in the development of websites and web applications, as well 
        as in audiovisual design and the creation of interactive 
        digital experiences.</p>

    <span class="flex gap-8">
        <figure class="w-28"><img src="/human-illustration.webp" alt=""></figure>
        <p>About me</p>
    </span>
</section>