<section id="about" class="flex xl:items-center items-left justify-between flex-col xl:flex-row my-10 mt-20 xl:gap-32 gap-2">
    <header class="gap-3 flex flex-col">
        <figure class="w-20 xl:w-28 py-4"><img src="/cris-logo.webp" alt=""></figure>
        <h2 class="text-white xl:text-7xl text-5xl font-extrabold">Cristian<br>Ortiz</h2>
        <p class="text-[#FD621F] font-medium">Frontend Developer<br>UI Designer</p>
    </header>
    <div class="w-full flex justify-between items-center">
        <div class="hidden xl:block"></div>
        <p class="w-[520px] font-extralight">I am a professional passionate about creating innovative 
            and engaging digital solutions. I have extensive experience 
            in the development of websites and web applications, as well 
            as in audiovisual design and the creation of interactive 
            digital experiences.</p>
    
        <span class="flex gap-8">
            <figure class="w-20 xl:w-28"><img src="/human-illustration.webp" alt=""></figure>
            <p class="text-[#2857C9] font-medium text-m">About me</p>
        </span>
    </div>
</section>