<section class="mx-auto py-28 w-[970px] flex items-center">
    <img class="absolute" src="/cris-image.webp" alt="">
    <img src="/banner-background.webp" alt="">
    <div class="pt-16 -ml-32">
        <span>
            <h2 class="text-white text-3xl">Hi there</h2>
            <h2 class="text-white text-3xl">I am</h2>
        </span>

        <h1 class="text-white text-9xl font-extrabold mt-8">Cristian</h1>
        <span class="-ml-28 flex items-baseline gap-14">
            <h1 class="text-9xl font-extrabold" id="outlined-text">Ortiz</h1>
            <img class="h-16" src="/banner-icon.webp" alt="">
        </span>
        <span>
            <p class="text-[#FD621F] text-lg">Frontend Developer</p>
            <p class="text-[#FD621F] text-lg">UI Designer</p>
        </span>
    </div>

    <style>
        #outlined-text {
            color: transparent;
            -webkit-text-stroke: 2px white;
        }
    </style>
</section>