---
const EXPERIENCE = [
    {
        date: "Jan 2024 - Present",
        company: "Eficacia S.A",
        position: "Front-end Developer | UI/UX Designer",
        description: "I developed component design, information architecture, usability testing, validation and construction of web and mobile portals for the organization."
    },
    {
        date: "Jun 2021 - Present",
        company: "Terminal Agency",
        position: "UI Designer | Graphic Designer | Audiovisual Artist",
        description: "I designed brand identities, graphic proposals, interfaces, and produced videos with VFX, turning ideas into visual solutions aligned with each project's goals."
    },
    {
        date: "Aug 2023 - Dec 2023",
        company: "Enerbit - Celsia",
        position: "Front-end Developer | UI/UX Designer",
        description: "I built a website with the objective of improving usability and accessibility for the internal workers of the organization."
    },
    {
        date: "Jun 2023 - Nov 2023",
        company: "Banco W",
        position: "Front-end Developer Jr",
        description: "I Implemented the development of the redesign of Banco W's website."
    },
    {
        date: "Jun 2023 - Nov 2023",
        company: "Javeriana University",
        position: "Front-end Developer Jr",
        description: "I built a website with an interactive comic book “Valientas” that makes vulnerable communities visible."
    },
    {
        date: "Dec 2022 - Apr 2023",
        company: "Augmented Island Studios",
        position: "Graphic Designer & VFX Artist",
        description: "I worked designing attractive audiovisual proposals for different organizations worldwide."
    }
]
---

<section class="relative min-h-screen flex flex-col justify-center overflow-hidden">
    <div class="w-full">
        <h2 class="text-[#2857C9] font-medium text-m">Experience</h2>
        <div class="flex flex-col justify-center divide-y divide-slate-200 [&>*]:py-16">

            <div class="w-full max-w-3xl mx-auto">
            
                <!-- Vertical Timeline #1 -->
                <div class="-my-6">
                    {
                        EXPERIENCE.map(({ date, company, position, description }) => {
                            return (
                                <div class="relative pl-8 xl:pl-32 py-6 group">
                                    <div class="font-medium text-[#FD621F] mb-1 xl:mb-0">{company}</div>
                                    <div class="flex flex-col xl:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 
                                    xl:before:left-0 before:h-full before:px-px before:bg-slate-300 xl:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 
                                    before:translate-y-3 after:absolute after:left-2 xl:after:left-0 after:w-2 after:h-2 after:bg-[#2857C9] after:border-4 after:box-content 
                                    after:border-[#02040C] after:rounded-full xl:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
                                        <time class="xl:absolute -left-20 translate-y-0.5 inline-flex items-center justify-center text-xs font-semibold 
                                        uppercase w-auto px-3 h-6 mb-3 xl:mb-0 text-white  bg-[#2857C9] rounded-full">{date}</time>
                                        <p class="text-xl font-bold text-white">{position}</p>
                                    </div>
                                    <p class="text-slate-500 text-pretty">{description}</p>
                                </div>
                            )
                        })
                    }
                </div>
                <!-- End: Vertical Timeline #1 -->
                
            </div>

        </div>
    </div>
</section>