<header class="flex justify-between py-8 w-[1120px] mx-auto">
    <div class="flex flex-row items-center gap-2 ">
        <img 
            class="w-13 h-8" 
            src="/cris-logo.webp" 
            alt="cris-logo"
        />

        <h4 class="text-lg font-bold">Cristian Ortiz</h4>
    </div>
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a class="bg-[#FD621F]" href="/contact">Contact</a>
    </nav>
</header>