---
const tags = {
    next: {
        name: 'Next'
    },
    javascript: {
        name: 'Javascript'
    }
}

const projects = {
    title: "Satton",
    description: "Desarrolle Satton",
    link: "Behance",
    github: "https github",
    image: "/fotico",
    tags: [tags.next, tags.javascript]
}
---

<section>
    <h2>Projects</h2>
    <span>
        <article>
            <div>
                <h4>Satton</h4>
            </div>
            <img src="/project1.png" alt="">
        </article>
    </span>
</section>