---
import { Header } from '../components/Header.jsx';
import Footer from '../components/Footer.astro';
import '@fontsource-variable/rethink-sans';

interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body> 
		
		<Header client:load />
		<main class="px-6 md:px-28 pt-16 md:pt-28 md:pb-10 gap-24 text-sm md:text-base flex flex-col">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'Rethink Sans Variable', sans-serif;
	}

	body {
		background: #02040C;
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	#header-nav {
		background: #02040c6b;
		backdrop-filter: blur(10px);
	}

</style>
